<%#created 11-14-13
# create a comment form partial so users can submit new comments on a post %>

<%= form_for[@topic, post, comment], remote: true do |f| %>
  <p>
    <%= f.label :body %><br />
    <%= f.text_field :commenter %>
  </p>
  <p>
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>